body {
  background-color: beige;
}

.containerDogs {
  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 100px;
}
.noencontrado {
  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 200px;
}

.agrupador div {
  align-items: center;
}

.dogs {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
