.pagination {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.1rem;
  margin-top: 5rem;
  width: 80vw;
  flex-wrap: nowrap;
  justify-content: center;
  //overflow: scroll;
  margin: auto;
}
// .pages {
//   //position: relative;
//   background-color: green;
//   margin: 10px;
//   flex-wrap: nowrap;
//   align-items: center;
//   justify-content: space-between;
//   display: flex;
//   gap: 0.25rem 0.75rem;

//   vertical-align: middle;
// }
@media (max-width: 820px) {
  .pagination {
    flex-wrap: wrap;
    gap: 0.5rem 0.25rem;
  }
  .pages {
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.75rem;
  }
}
