
 body {
     
 }

 
 
.perros {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:0px 150px 0px 150px;
}

.perro {
    display: flex;
    flex-direction:column;
    width: 200px;
    
    background-color: grey;
    margin-bottom: 20px;

} 
.perroImg {
    max-height: 130px ;
    overflow: hidden;
    align-items: center;
}
.perroImg img {
    width: 200px;
    max-height: 130px;
    object-fit: cover ;
    
}