.perro {
    display: flex;
    flex-direction:column;
    align-content: center;
    width: 230px; 
    height: 350px;
    background-color: grey;
    margin: 10px;
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(221, 221, 115);
    color: white;
    border-radius: 15px;
    font-weight: 700   
} 
.perroImg {
    
    height: 230px;
    overflow: hidden;
    align-items: center;
    justify-content: baseline;
    height:10rem;
    background-color:#9f8e10;
    border-radius: 85px;
    padding: 2px;
    margin: 5px;

}
.perroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
    border-radius: 85px;
    
}
.perro a {
    padding:0;
    margin: 0;
    text-decoration: none;
}
.perroDatos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  
    
}
.perroDatos .perroN {
    margin-top:1px;

    height: 0.1rem;
}
.perroDatos .perroT {
    padding:10px;
    height: auto;
    max-height: 200px;
}
.perroDatos .perroP {
    height: 2rem;
}
.pagination {
    list-style:none;
}