
 body {
     
 }

 
 
.perros {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:0px 150px 0px 150px;
}

.perro {
    display: flex;
    flex-direction:column;
    width: 200px;
    height: 250 px;
    background-color: grey;

} 
.perroImg {
    max-height: 140px ;
    

}