body {
    background-color: beige;
}

.containerDogs {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* margin-left: 150px; */
    
}
.agrupador {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.agrupador div {
    align-items:center;
}

.dogs {
    display: flex;
    justify-content:center;
    flex-flow: row;
    flex-wrap: wrap;
}

.notFindImg {
    width: 30rem;
    height: 30rem;
}
.notFindImg img {
    width: 100%;
}

