body {
    background-color: beige;
}

.dogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.perros {
    padding-top: 2.5rem;
    
} 
.containerDogs {
    display: flex;
    flex-direction: column;    
}
.notFindImg {
    width: 30rem;
    height: 30rem;
}
.notFindImg img {
    width: 100%;
}
.botonera {
    background-color: rgb(221, 221, 115);
    align-items: center
}
